.ErrorMessage{
    height: 50px;
    p{
        font-size: 1rem;
    }
}

.ErrorMessageActive{
    margin: 0.5rem;
    border: 5px dashed red;
    p{
        font-size: 2rem;
        text-align: center;
    }
}